<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/home.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="animal-list">
    {% for i in animal %}
      <div class="animal-item">
        <h3>{{ i }}</h3>
        <form action="/home" method="POST">
         <h2> <input type="submit" name='adopt' value="♥ adopt!! ♥" class="adopt-button"> </h2>
        </form>
      </div>
    {% endfor %}
  </div>
</body>
</html>
