<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/save_prefrence.css">
    <title>Welcome!</title>
</head>
<body>
    <h2>Welcome! What are your preferences for your pet?</h2>
    <form action="/save_preferences" method="POST">
      <h3>  <label for="pets"> What pet do you want?</label></h3>
        <select id="pets" name="pets">
        <option value="cat">cat</option>
        <option value="dog">dog</option>
        <option value="rabbit">rabbit</option>
</select>
       <h3> <label for="place">Area?</label></h3>
        <select id="place" name="place">
        <option value="israel">Israel</option>
        <option value="russia">Russia</option>
        </select>
        <input type="submit" value="Save Preferences">
    </form>


    <p><a href="/signout">Sign out</a></p>
</body>
</html>