<!DOCTYPE html>
<html lang="en">
<head>
        <style>
        body{

            background-color: blueviolet;
        }
    </style>
    <meta charset="UTF-8">
    <title>Magic 8 Ball</title>
</head>
<body>
    <h1>Ask a yes or no question:</h1>
    <form action="/response">
        <input type="text" name="question" placeholder="whats the question">
        <button type="submit">Ask</button>
    </form>
    <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo5TEj7twtaN7sHLhFdPUbuaCLPoc7WXoYYQ&s" >
</body>
</html>