/* save_preference.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f8c2ee; /* Soft pink background */
  color: #333; /* Dark text for contrast */
}

h2 {
  color: #c95192; /* Darker pink for headings */
}

form {
  background-color: #fff; /* White form for contrast */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px; /* Adjust width as needed */
  margin: 0 auto; /* Center the form */
}

label {
  font-weight: bold;
  color: #c95192; /* Darker pink for labels */
  display: block; /* Ensure labels are displayed as blocks */
  margin-bottom: 5px;
}

select {
  padding: 10px;
  border: 1px solid #c95192;
  border-radius: 5px;
  width: 100%; /* Make select elements full width */
}

input[type="submit"] {
  background-color: #c95192;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Make submit button full width */
}

input[type="submit"]:hover {
  background-color: #b2477d; /* Darker pink on hover */
}

a {
  color: #c95192; /* Pink for links */
  text-decoration: none;
}
