<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        body{
            background-color: lightpink;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="/home" method="POST">
        <label for="quote">★★Enter your quote:★★</label><br>
        <input type="text" id="quote" name="quote" required><br><br>



        <label for="author">★★Who said the quote:★★</label><br>
        <input type="text" id="author" name="author"><br><br>
        <button type="submit">Submit</button>
    </form>
    <h1>heyyy ୧⍤⃝💐 </h1>
    <a href="/"><button>Sign Out</button></a>
    <br>
    <img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnTHIC6oOdEo6KOj2PLO4wWVIYyCv_L2BZkw&s"width="800" height="600" >
</body>
</html>
