<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        body{
            background-color: springgreen;
        }
        h2 {
  background-color: limegreen;
}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <h2>thank you⋆ ˚｡⋆୨♡୧⋆ ˚｡⋆⋆ ˚｡⋆୨♡୧⋆ ˚｡⋆⋆ ˚｡⋆୨♡୧⋆ ˚｡⋆⋆ ˚｡⋆୨♡୧⋆ ˚｡⋆⋆ ˚｡⋆୨♡୧⋆ ˚｡⋆⋆ ˚｡⋆୨♡୧⋆ ˚｡⋆⋆ ˚｡⋆୨♡୧⋆ ˚｡⋆⋆ ˚｡⋆୨♡୧⋆ ˚｡⋆⋆ ˚｡⋆୨♡୧⋆ ˚｡⋆⋆ ˚｡⋆୨♡୧⋆ ˚｡⋆⋆ ˚｡⋆୨♡୧⋆ ˚｡⋆</h2>
    <a href="/display"> go to display</a>
    <a href="/home"> go home</a>
    <br>
    <br>
    <img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_e42ReQG5UIqKRYjwoO-OcoZaGjw4Ck_KdA&s" width="800" height="600" >
</body>
</html>
