<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        body{
            background-color: lightcoral;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <ul>
        {%for i in massage%}
        <li>{{i}}</li>

        {%endfor%}
    </ul>
    <a href = "/home"> home </a>
</head>
    <img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeIzqWDW8-ktBIKZ7JYMAfI573sBB09oyxJw&s"width="800" height="600" >
<img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiTjDfqXFoe3Y3TYuli1PSPfab5S8p7hOodQ&s"width="800" height="600" >
<body>
</html>
