<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        body{
            background-color: forestgreen;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="/home" method="POST">
        <label for="quote">Enter your quote:</label><br>
        <input type="text" id="quote" name="quote" required><br><br>
        <button type="submit">Submit</button>
        

    </form>
    <h2>heyyy</h2>
    <a href="/"><button>Sign Out</button></a>
</body>
</html>
