<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{

            background-color: lightgoldenrodyellow;
        }
    </style>
    <meta charset="UTF-8">
    <title>Fortune Teller</title>
</head>
<body>
    <h1>Welcome to the Fortune Teller</h1>
    <br>
   <img src="https://ichef.bbci.co.uk/images/ic/640x360/p077kdb5.jpg">
   <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9YB0HQeI_Cq9N5Ho719_Eu-HGcT_tfrIqaQ&s" height="400px">

    <form action="/home" method="POST">
        <label for="birth-month">Type your birth month:</label>
        <input type="text" id="birth-month" name="birth_month" required>
        <button type="submit">Tell My Fortune</button>
    </form>

    {% if fortune %}
        <h2>Your Fortune: {{ fortune }}</h2>
    {% endif %}

    </form>
</body>
</html>