<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{

            background-color: lightgoldenrodyellow;
        }
    </style>
    <meta charset="UTF-8">
    <title>Fortune Teller</title>
</head>
<body>
    <h1>hello! {{name}} </h1>
    <br>
   <img src="https://ichef.bbci.co.uk/images/ic/640x360/p077kdb5.jpg">
   <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9YB0HQeI_Cq9N5Ho719_Eu-HGcT_tfrIqaQ&s" height="400px">
    <a href="fortune">go to fortune</a>
</a>

</body>
</html>